<ion-header-bar class="bar bar-assertive">
  <button class="button button-clear button-icon ion-navicon" ng-click="showMenu()"></button>
  <h1 class="title">People</h1>
</ion-header-bar>

<ion-view>
  <ion-content class="padding list-inset">
      <ion-list >
        <ion-item class="item-avatar-left item-text-wrap">
            <img src="../img/ionic.png" />
            <h2>Kiefer Sutherland</h2>
            <br/>
            <p>
              This is a short plot lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
              lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum
              lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum
            </p>
            <br/>
            <h3>Birth Date:22nd June 1999</h3>
            <br/>
            <h3>Birth Place : Washington DC</h3>
            <br/>
            <h3>Popularity : 5.69</h3>

            <br/>
            <p>
              Movie Roles : movie1, movie2, movie3, movie3
            </p>
            <br/>
            <p>
              TV Show Roles : tvshow 1, tvshow 2, tvshow 3,tvshow 4
            </p>
            <button class="button button-assertive button-small">Mark As Favourite</button>

        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
