<ion-header-bar class="bar bar-assertive">
  <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()"></button>
  <h1 class="title">Contact</h1>
</ion-header-bar>

<ion-view>
  <ion-content class="padding">
    <ion-list>
        <ion-item>
          App Name : MMC
        </ion-item>
        <ion-item>
          App Version : 1.0
        </ion-item>
        <ion-item>

          Contact Email : mujahidraji@gmail.com

       </ion-item>
       <ion-item>
          Contact Phone number : +2349033449024
       </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
