<ion-header-bar class="bar bar-assertive">
  <button class="button button-clear button-icon ion-navicon" ng-click="showMenu()"></button>
  <h1 class="title">Movie</h1>
</ion-header-bar>

<ion-view>
  <ion-content class="padding list-inset">
      <ion-list >
        <ion-item class="item-avatar-left item-text-wrap">
            <img src="../img/ionic.png" />
            <h2>Sample Movie 1</h2>
            <br/>
            <h3>Genre : Comedy,Fiction</h3>
            <br/>
            <h3>Release Date : 28th June 2008</h3>
            <br/>
            <p>
              This is a short plot lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
              lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum
              lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum
            </p>
            <h3>Company 1,Company 2, Company 3</h3>
            <br/>
            <h3>Ratings : 5.69</h3>
            <br/>
            <h3>Total Votes : 1230</h3>
            <br/>
            <button class="button button-assertive button-small">Mark As Favourite</button>
            <button class="button button-assertive button-small"> Watched </button>
            <button class="button button-assertive button-small"> To Watch </button>
            <button class="button button-assertive button-small">View Trailer</button>

        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
