<ion-header-bar class="bar bar-assertive">
  <button class="button button-icon button-clear icon ion-navicon" ng-click="showMenu()"></button>
  <h1 class="title">Profile</h1>
  <button class="button button-icon button-clear icon ion-edit" ng-click=""></button>
</ion-header-bar>

<ion-view>
  <ion-content class="padding">

    <ion-list class="list-inset">

      <ion-item>
          Kyle Trager
      </ion-item>
      <ion-item>
         kyletrager@gmail.com
        
      </ion-item>
      <ion-item>
        +2349033449024

      </ion-item>
      <ion-item>
        <a href="" class="button button-clear button-assertive">Change Password</a>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
