<ion-header-bar class="bar bar-assertive">
    <button class="button button-clear button-icon ion-navicon" ng-click="showMenu()"></button>
    <h1 class="title">TV Shows</h1>
    <button class="button button-clear button-icon ion-search"></button>
</ion-header-bar>

<div class="bar bar-subheader">
  <ion-tabs>
      <ion-tab title="List">

      </ion-tab>

      <ion-tab title="Recommended">

      </ion-tab>
  </ion-tabs>
</div>

<ion-view title="Home">
  <ion-content class="has-subheader list-inset">
    <ion-list>
      <ion-item ng-repeat="tvshow in tvshows" href="#/tvshows/{{tvshow.Id}}" class="item-avatar-left item-text-wrap">
          <img src="../img/{{tvshow.poster}}" />
          <h2>{{tvshow.name}}</h2>
          <h3>Ratings : {{tvshow.vote_avg}} from {{tvshow.vote_count}} votes</h3>
          <h3>{{tvshow.genre}}
          <h3>{{tvshow.seasons}} Seasons</h3>
          <p>
            {{tvshow.overview | limitTo : 150}} {{tvshow.overview.length > 150 ? '&hellip;':''}}
          </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
