<ion-header-bar class="bar bar-assertive">
  <button class="button button-clear button-icon ion-navicon" ng-click="showMenu()"></button>
  <h1 class="title">TV Show</h1>
</ion-header-bar>

<ion-view>
  <ion-content class="padding list-inset">
      <ion-list >
        <ion-item class="item-avatar-left item-text-wrap">
            <img src="../img/ionic.png" />
            <h2>{{tvshow.name}}</h2>
            <br/>
            <p>
              {{tvshow.overview}}
            </p>
            <br/>
            <h3>In Production : {{tvshow.in_production }} | {{tvshow.status}}</h3>
            <br/>
            <h3>Genre : <div ng-repeat="genre in tvshow.genres"> <a href="">{{genre.name}}</a></div></h3>
            <br/>
            <h3>{{tvshow.number_of_seasons}} Seasons | {{tvshow.number_of_episodes}} Episodes</h3>
            <br/>
            <h3>Release Date : {{tvshow.first_air_date}} |  Last Air Date : {{tvshow.last_air_date}} </h3>
            <br/>
            <h3>Companies : <span ng-repeat="company in tvshow.production_companies"> {{company.name}}, </span> </h3>
            <br/>
            <div ng-repeat="season in tvshow.seasons">
              <div>
                Season {{season.season_number}} <br/>
                {{ season.episode_count}} episodes<br/>
                <span>{{season.air_date}}</span>
              </div>
              ----------------------------------------
            </div>
            <br/>
            <span ng-repeat="credit in tvshow.credits">
              {{credit.character}}
            </span>
            <br/>
            <h3>Ratings : 5.69</h3>
            <br/>
            <h3>Total Votes : 1230</h3>
            <br/>
            <button class="button button-assertive button-small">Mark As Favourite</button>
            <button class="button button-assertive button-small">View Trailer</button>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
